@font-face {
    font-family: 'Graphik';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/graphik/Graphik-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/graphik/Graphik-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/graphik/Graphik-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/graphik/Graphik-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/graphik/Graphik-Regular.svg#Graphik-Regular') format('svg'); /* Legacy iOS */
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/graphik/Graphik-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/graphik/Graphik-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/graphik/Graphik-Light.woff') format('woff'), Modern Browsers
         url('../fonts/graphik/Graphik-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/graphik/Graphik-Light.svg#Graphik-Light') format('svg'); /* Legacy iOS */
    text-rendering: optimizeLegibility;
}


@font-face {
    font-family: 'Graphik';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/graphik/Graphik-Medium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/graphik/Graphik-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/graphik/Graphik-Medium.woff') format('woff'), /* Modern Browsers */
         url('../fonts/graphik/Graphik-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/graphik/Graphik-Medium.svg#Graphik-Medium') format('svg'); /* Legacy iOS */
    text-rendering: optimizeLegibility;
}
